:root {
    /* Default color */
    --default: #6c5ce7;
    /* Element colors */
    --background: #e6e9ef;
    --background-op: rgba(0, 0, 0, 0.4);
    --title-color: #2d3436;
    --desc-color: #636e72;
    --danger: rgb(233, 71, 71);
    /* Simple colors */
    --yellow: #fdcb6e;
    --yellow-hover: #f8bf56;
    --green: #00b894;
    --green-hover: #02aa88;
    --blue: #0984e3;
    --blue-hover: #0273c9;
    --red: #d63031;
    --red-hover: #c42c2c;
    --purple: #6c5ce7;
    --purple-hover: #5d4fc4;
    --pink: #e84393;
    --pink-hover: #df3c8a;
    --white: #fcfcfc;
    /* Font size */
    --title-size: 20px;
    --desc-size: 14px;
    /* Radius */
    --box-radius: 14px;
    --header-radius: 16px;
    --button-radius: 12px;
    --tag-radius: 6px;
    /* Shadow */
    --box-shadow: -4px 6px 20px 11px #0000000d;
    /* Size */
    --default-width: 280px;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .5s;
    list-style: none;
}

body {
    background: var(--background);
    height: 100vh;
    width: 100vw;
}

section {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input::placeholder {
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--desc-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-h {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.card {
    width: 280px;
    height: 100%;
}

.card>div {
    margin: 10px 0;
}

.tasks {
    background: red;
    background: var(--white);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
}

.btn {
    font-weight: bold;
    max-width: 280px;
    width: 100%;
    height: 48px;
    border-radius: var(--button-radius);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    background: var(--default);
}

.header-card {
    height: 68px;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--header-radius);
    justify-content: space-evenly;
}

#select-color {
    display: none;
}

.select-color>ul {
    margin-top: 12px;
    margin-bottom: -8px;
    display: flex;
    align-items: center;
    background: var(--white);
    justify-content: space-between;
    padding: 16px;
    border-radius: var(--button-radius);
}

.colors {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 12px;
}

#color_yellow {
    background: var(--yellow);
}

#color_green {
    background: var(--green);
}

#color_blue {
    background: var(--blue);
}

#color_red {
    background: var(--red);
}

#color_purple {
    background: var(--purple);
}

#color_pink {
    background: var(--pink);
}

#color_r>img {
    width: 100%;
}

.color-tag {
    width: 6px;
    height: 46px;
    border-radius: var(--tag-radius);
    background: var(--default);
}

.header-card-content {
    width: 82%;
    height: 72%;
    justify-content: space-between;
}

.header-card-content>div>h3 {
    color: var(--title-color);
    font-size: var(--title-size);
}

.header-card-content>div>p,
.header-card-content>div>p>span {
    color: var(--desc-color);
    font-size: var(--desc-size);
}

.edit-button {
    cursor: pointer;
    margin-right: 8px;
}

.add-task:hover {
    box-shadow: var(--box-shadow);
}

.input-task {
    padding: 12px;
    width: 40vw;
    height: 20vh;
    background: var(--white);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    justify-content: space-around;
}

.input-task-out {
    width: var(--default-width);
    display: none;
}

#alert-span {
    color: var(--danger);
    font-size: 14px;
    display: none;
    cursor: default;
}

#add-task-input {
    border: 2px solid #fff0;
    width: 90%;
    height: 24%;
    border-radius: 8px;
    text-align: center;
}

#close {
    cursor: pointer;
    position: fixed;
    right: 0;
}